$indicators-height: 50px;
$indicators-size: 10px;
$indicator-border: 1.5px;

.component--carousel {
  &.carousel-square {
    position: relative;
    padding-bottom: 100%;
  }

  &.has-indicators {
    margin-bottom: $indicators-height * 2;
  }

  &.carousel-square .carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .carousel-item {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-width: unset;
      }
    }
  }
}

.component--carousel {
  .slide--heading {
    position: absolute;
    transform: rotate(-12deg);
    transform-origin: top left;
    width: 275px;
    max-width: 85%;
    top: 8%;
    left: 5%;
    letter-spacing: -0.5px;
    font-weight: 800;

    @include media-breakpoints-down(font-size, 32px, (
      lg: 31px,
      sm: 25px
    ));
  }

  .carousel-indicators {
    margin-bottom: 0;
    bottom: -$indicators-height / 1.5 + ($indicator-border * 2);

    li {
      background-color: transparent;
      border-radius: 50%;
      width: $indicators-size;
      height: $indicators-size;
      border: $indicator-border solid $black;
      opacity: 1;
      transition: $transition-base;

      &.active {
        background-color: $black;
      }
    }
  }

}
