.modal.fullscreen {
  bottom: 0;
  height: auto;
  display: block;

  .modal-dialog {
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-header, .modal-body {
    padding: rem(31px) rem(36px);

    > .container-lg {
      padding: 0;
    }

    &.filled {
      background: $light;
    }
  }

  .modal-title {
    display: block;
    margin: 4rem 0 0 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
}

body.admin-bar .modal {
  top: 32px;

  @media screen and (max-width: 782px) {
    top: 46px;
  }
}
