<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="AL-amasty-mwishlist-hyva-compatibility" xsi:type="array">
                    <item name="original_module" xsi:type="string">Amasty_MWishlist</item>
                    <item name="compat_module" xsi:type="string">AL_AmastyMultipleWishlist</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Amasty\MWishlist\Controller\Item\Add"
                type="AL\AmastyMultipleWishlist\Controller\Item\Add"/>
</config>
