.custom-contact-form .mktoFormRow {
    width: 50%!important;
    padding: 0 8px!important;
    margin-bottom: 10px;
    position: relative;
}
.content-left .text {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 16px;
}
.mktoForm .mktoCheckboxList {
    position: absolute;
    top: 19px;
    left: 90px;
}
.mktoButtonRow {
    width: 100%;
    margin-top: 10px;
    margin-left: 8px;
}
form.mktoForm div.mktoFieldWrap > label.mktoLabel[for$="__c"] {
    font-weight: normal;
}
.mktoFormRow.hidden-field {
    display: none;
}
.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
.mktoForm select.mktoField,
.mktoForm textarea.mktoField {
    margin: 0;
    border: 2px solid rgba(255, 255, 255, 0.0)!important;
    padding: 4px 8px!important;
    width: 100% !important;
    line-height: 16px!important;
    background: var(--white-color) !important;
    height: 39px!important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25)!important;
}
.mktoForm .mktoRequiredField label.mktoLabel,
.mktoForm.mktoLayoutAbove .mktoLabel {
    justify-content: flex-start;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    font-family: var(--primary-font);
    text-transform: uppercase;
    padding-top: 10px;
    line-height: 20px;
}
.mktoForm .mktoAsterix {
    display: none;
}
.mktoForm select.mktoField {
    background-image: url('../../../images/contactform-select-blue.png') !important;
    background-size: 39px 39px!important;
    background-repeat: no-repeat!important;
    background-position: calc(100% + 2px) 50% !important;
    font-size: 16px;
    color: var(--text-color);
    font-family: var(--primary-font);
    -webkit-appearance: none;
    -moz-appearance: none;
}
.divider {
    background-image: url('../../../images/divider-charcoal.png')!important;
    width: 100%;
    height: 7px;
}
.mktoForm .mktoButtonWrap.mktoPurpleCandy .mktoButton,
.mktoForm .mktoButtonWrap.mktoPurpleCandy .mktoButton:active,
.mktoForm .mktoButtonWrap.mktoPurpleCandy .mktoButton:focus {
    display: inline-block;
    border-radius: 10px;
    padding: 9px 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    font-weight: 700;
    color: var(--white);
    font-family: var(--secondary-font);
    text-transform: uppercase;
    background: var(--blue-color) !important;
    text-shadow: none;
    border: 0!important;
    outline: none!important;
    width: auto;
}
.mktoForm .mktoButtonWrap.mktoPurpleCandy .mktoButton:hover {
    background-color: var(--white-color) !important;
    color: var(--blue-color) !important;
}
.left-content-form-block p {
    font-size: 18px;
    line-height: 29px;
    font-family: var(--secondary-font);
        color: var(--text-color);
}
.left-content-form-block ul {
    padding-left: 20px;
    margin-bottom: 15px;
}
.left-content-form-block ul li {
    font-size: 18px;
    line-height: 29px;
    font-family: var(--secondary-font);
    color: var(--text-color);
}
.mktoForm.mktoLayoutAbove textarea.mktoField[rows] {
    height: 58px !important;
}
.mktoHtmlText.mktoHasWidth {
    width: 100% !important;
}
.mktoHtmlText.mktoHasWidth p {
    font-size: 16px;
    line-height: 20px;
    font-family: var(--primary-font);
}
form.mktoForm input[type="checkbox"] {
    position: absolute;
    height: 20px;
    width: 20px !important;
    opacity: 0;
}
.mktoForm input[type=checkbox]+label:before,
.mktoForm input[type=radio]+label:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -1.5em;
    line-height: 1em;
    font-family: Arial, sans-serif;
    font-size: 13px;
    border: 0;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    background-color: var(--white-color);
}
.mktoForm input[type=checkbox]:checked+label:before {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('../../../images/checkbox.png') !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 14px;
    content: "" !important;
}
.mktoForm input[type=checkbox]:focus+label:before,
.mktoForm input[type=radio]:focus+label:before {
    border: 0!important;
}
.content-left {
    padding-right: 20px;
}
form.mktoForm {
    padding-left: 20px;
    align-items: flex-start;
}
.mktoForm .mktoError {
    left: 0px;
    top: 76px;
    right: 0!important;
    bottom: 0 !important;
    position: inherit;
    display: inline-block;
    width: 100%;
}
.mktoForm .mktoError .mktoErrorMsg {
    width: 100%;
    background-image: none;
    -webkit-box-shadow: none;
    color: #f3f3f3;
    margin: 4px 0 0 0;
    border-radius: 4px;
    padding: 7px 8px;
    background-color: #b70000;
    color: var(--white-color);
    font-size: 12px;
    font-family: var(--primary-font);
    font-weight: 700;
    display: inline-block;
    border: 0;
    max-width: 100%;
}
.mktoForm input.mktoField.mktoInvalid,
.mktoForm textarea.mktoField.mktoInvalid,
.mktoForm select.mktoField.mktoInvalid,
.mktoForm .mktoLogicalField.mktoInvalid {
    border: 2px solid #8C0005 !important;
}
.mktoErrorArrowWrap {
    display: none;
}
@media (max-width: 1024px) {
    .mktoForm .mktoRequiredField label.mktoLabel, .mktoForm.mktoLayoutAbove .mktoLabel {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (max-width: 991px) {
    .custom-contact-form .mktoFormRow {
        width: 100% !important;
        padding: 0 0px !important;
            margin-bottom: 0;
    }
    .left-content-form-block p,
    .left-content-form-block ul li {
        font-size: 16px;
        line-height: 24px;
    }
    .content-left {
        padding-right: 0px;
    }
    form.mktoForm {
        padding-left: 0;
    }
}

@media (max-width: 639px) {
    .content-left .text {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .resource-cta-block p.cta-content {
        font-size: 14px;
        line-height: 21px;
    }
    .content-left h2.heading {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 576px) {
    .mktoForm .mktoCheckboxList {
        top: 0px;
    }
}
