// Colors
$white: #fff;
$gray-100: #f2f2f2;
$gray-200: #E5E4E4;
$gray-300: #d1d0d0;
$gray-400: #ced4da;
$gray-500: #979797;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #373737;
$gray-900: #212529;
$black: #0A0A0A;

$primary: #ff7e00;
$secondary: $gray-300;
$light: $gray-100;
$dark: $gray-500;

$primary-light: lighten($primary, 10);
$primary-dark: darken($primary, 10);

// Spacing
$spacer: 1rem;
$spacers: (
    md: rem(20px),
    lg: rem(37px),
    xl: rem(50px),
    xxl: rem(60px),
    big: rem(120px)
);
$component-spacing: $spacer * 3;

// Body
$body-bg: $white;
$body-color: $black;

// Links
$link-color: $gray-800;
$link-hover-color: $body-color;
$link-hover-color-light: $gray-600;
$link-hover-decoration: none;

// Grid
$grid-breakpoints: (
    xs: 0,
    sm: 500px,
    md: 750px,
    lg: 1000px,
    xl: 1200px,
    hd: 1440px
);

$container-max-widths: (
    lg: 1220px
);

$grid-gutter-width: 40px;
$form-grid-gutter-width: 40px;

// Borders
$border-color: $gray-300;
$border-color-light: $gray-200;
$hr-border-color: $border-color;
$hr-border-width: 2px;

$border-radius: 0;
$border-width: $hr-border-width;

// Typography
$enable-responsive-font-sizes: false;
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1rem; // 20px
$font-weight-semi-bold: 600;
$headings-font-weight: 800;
$headings-line-height: 1.35;
$headings-letter-spacing: -0.34px;
$headings-margin-bottom: rem(25px);
$small-font-size: $font-size-base * 0.9;
$smallest-font-size: 12px;

$h1-font-size: $font-size-base * 2.5; // 50px
$h2-font-size: $font-size-base * 1.6; // 32px
$h3-font-size: $font-size-base * 1.2; // 24px
$h4-font-size: $font-size-base * 1.0; // 30px
$h5-font-size: rem(23px);
$h6-font-size: $font-size-base;
$subheading-font-size: 1.4rem;

$lead-font-size: $h4-font-size;
$lead-font-weight: 400;

$text-muted: $gray-500;

// Navbar
$navbar-color: $body-color;
$navbar-height: 142px;

// Breadcrumb
$breadcrumb-divider: quote(">");
$breadcrumb-divider-color: $gray-600;
$breadcrumb-bg: transparent;
$breadcrumb-padding-y: 0;
$breadcrumb-padding-x: 0;

// Cards
$card-border-width: 0;
$card-border-radius: 0;
$card-spacer-y: rem(13px);
$card-spacer-x: rem(13px);

// Inputs
$input-focus-width: 0;
$btn-focus-width: 0;
$input-border-radius: 0;
$input-border-width: 1px;
$input-border-color: $dark;
$input-padding-y: 0.35rem;
$input-padding-x: rem(20px);
$input-line-height: 1.45;
$custom-select-border-radius: $input-border-radius;

// Buttons
//$btn-font-size: 15px;
$btn-border-width: 1px;
$btn-border-radius: 10rem;
$btn-border-radius-lg: $btn-border-radius;
$btn-border-radius-sm: $btn-border-radius;
$btn-font-weight: $font-weight-semi-bold;

$btn-padding-x: 1rem;
$btn-padding-x-lg: 1rem;
$btn-padding-x-sm: 1rem;

$btn-padding-y: 0.5rem;
$btn-padding-y-lg: 0.5rem;
$btn-padding-y-sm: 0.5rem;

// Dropdown
$dropdown-spacer: 0;
$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: none;
$dropdown-link-hover-color: $primary;
$dropdown-border-width: $input-border-width;

// Modals
$modal-dialog-margin: 0;
$modal-content-border-radius: 0;
$modal-content-border-width: 0;

// Transitions
$cubic-bezier: cubic-bezier(.32, .46, .58, 1);
$duration-base: .25s;
$duration-slow: .35s;
$duration-fast: .15s;

$transition-base: all $duration-base $cubic-bezier;
$transition-slow: all $duration-slow $cubic-bezier;
$transition-fast: all $duration-fast $cubic-bezier;
