[class^="et_pb_theme_current_projects"] {
  .section {
    border-width: 1px;

    &:first-of-type {
      border-top: none;
    }
  }

  .header strong {
    font-size: 18px;
    font-weight: 800 !important;
  }
}
