[class^="et_pb_theme_image"] {
  margin: 60px 0;

  .image-container {
    max-width: 770px;
    margin: 0 auto;
  }

  .image-description {
    margin-top: 10px;
    font-style: italic;
    font-size: 90%;
  }

}
